In [6]:
#pandas is a library and it consist of functions related to the database
import pandas as pd

In [7]:
#dataset is called by read_csv function using pandas
dataset=pd.read_csv("Data set.csv")

In [8]:
dataset

    Years of Experience  Salary
0                   1.1   35636
1                   1.6   38523
2                   2.2   41569
3                   2.8   46587
4                   3.5   55654
5                   3.8   59458
6                   4.1   62354
7                   4.5   65852
8                   5.6   72564
9                   6.1   76456
10                  6.8   80249
11                  7.6   84589
12                  7.9   88695
13                  8.3   92485
14                  8.8   96485

In [9]:
#independent variable is assigned
independent=dataset[["Years of Experience"]]
independent

    Years of Experience
0                   1.1
1                   1.6
2                   2.2
3                   2.8
4                   3.5
5                   3.8
6                   4.1
7                   4.5
8                   5.6
9                   6.1
10                  6.8
11                  7.6
12                  7.9
13                  8.3
14                  8.8

In [10]:
#dependent variable is assigned
dependent=dataset[["Salary"]]
dependent

    Salary
0    35636
1    38523
2    41569
3    46587
4    55654
5    59458
6    62354
7    65852
8    72564
9    76456
10   80249
11   84589
12   88695
13   92485
14   96485

In [11]:
#In above codings we had splitted input and output values
#By using sklearn (machine learning supporting library), we are going to split train and test set
#And also we are going to assign input output train set and input output test set 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [12]:
#In below steps we are going to create a model
#From sklearn library we are importing LinearRegression (Class-consist of many functions in it)
#And then we are assigning LinearRegression as Regressor
#Below we are also fitting input and output of train set in regressor
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
#Below using coef variable we are calculating weight (slope)
weight=regressor.coef_
weight

array([[7861.26098022]])

In [15]:
#Below using intercept variable we are calculating bais
bais=regressor.intercept_
bais

array([26950.28424596])

In [16]:
#In regressor we are going to predict input test vlaue and assigning it has y_pred (output predict value)
y_pred=regressor.predict(x_test)

In [21]:
#from sklearn library we are importing r2 score function
#And then we are substituting y test and y pred value in r2 score function
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [19]:
#Here the r score value is nearly to 1, hence our model is performing good
r_score

0.9910145211476604

In [22]:
#Below we are to see how to save a model
#we are going to import pickle and create filename
import pickle
filename="finalised_model_linear.sav"

In [25]:
#In below step we are going save model inside a file name (wb = write binary)
pickle.dump(regressor,open(filename,'wb'))

In [26]:
#We ar going to check saved model by loading it
loaded_model=pickle.load(open("finalised_model_linear.sav",'rb'))
result=loaded_model.predict([[15]])

In [27]:
result

array([[144869.19894918]])